:root {
  --container-width: 800px;
  --container-width-slider: 800px;
  --padding-container-slider: 95px;

  --font-main: "HelveticaNeue", sans-serif;

  --white: #fff;
  --blue: #0a2756;
  --light_blue: #007dfe;
  --light_blue_rgba: rgba(0, 128, 255, 0.7);
  --gray: #c4c4c4;
  --gray_light: #e4e4e4;
  --orange: #ffb32c;
  --red: #fb5555;
}
